@charset "utf-8";

html,
body {width:100%; height:100%;}
body {position:relative; background:url("../images/sign-pattern.gif") 0 0 repeat;}
#wrap {position:relative; width:100%; height:100%;}
#wrap::before {position:absolute; left:0; top:50%; margin-top:-310px; width:100%; height:595px; background-color:#FDF8DF; content:'';}
.signA {position:absolute; left:0; top:50%; text-align:center; margin-top:-310px; width:100%; height:620px; background:url("../images/sign-bg.png") center no-repeat;}
h1 {display:none;}
dl {position:absolute; left:50%; top:280px; margin-left:-100px; margin-top:0; width:200px; height:240px; overflow:hidden;}
dl dt {display:none;}
dl dd {position:relative; text-align:center;}
dl dd input,
dl dd button {text-align:center; margin-bottom:1px; font-size:17px; font-weight:700; color:#5B627A; border:0; background-color:#FFF5C0;}
dl dd input {margin-top:10px; width:100%; height:50px; line-height:50px; background-color:transparent;}
dl dd input::placeholder {line-height:70px; color:#5B627A; /*color:#FFF;*/}
dl dd button {position:relative; margin:0 auto; margin-top:17px; width:70px; height:70px; font-weight:800; color:#5B627A; border-radius:65px; background-color:#FFCF63; cursor:pointer; overflow:hidden;}
dl dd button:hover {color:#FFF; background-color:#5C74B5; box-shadow:0 7px 7px rgba(125, 149, 219, 0.3);}
.group-form {margin-top:0; padding-left:10px; color:#FFF; background-color:transparent;}
.group-form label {height:30px; line-height:30px;}
.group-form.form label input[type="checkbox"] + span {padding-left:28px !important; color:#737A92 !important; background-position:0 3px !important; background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238991A9' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M11 17l-5-5.299 1.399-1.43 3.574 3.736 6.572-7.007 1.455 1.403-8 8.597zm11-15v20h-20v-20h20zm2-2h-24v24h24v-24z'/%3E%3C/svg%3E") !important;}
.group-form.form label input[type="checkbox"]:checked + span {color:#303752; background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23303752' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0v24h24v-24h-24zm11 17l-5-5.299 1.399-1.43 3.574 3.736 6.572-7.007 1.455 1.403-8 8.597z'/%3E%3C/svg%3E") !important;}



@media (max-width:993px) {
	body {background:#FDF8DF url("../images/sign-pattern.png") center bottom no-repeat;}
	#wrap::before {left:50%; top:0; margin-top:0; margin-left:-140px; width:280px; height:100%; background-color:#FFF;}
	.signA {background-image:url('');}
	form {margin-top:-210px; margin-left:-100px; width:200px; height:420px; background:url("../images/sign-h1.png") center top no-repeat;}
	dl {margin-top:70px; margin-left:0; width:100%; height:fit-content; border-radius:0;}
	dl dt,
	dl dd {border-bottom:solid 1px #5B627A;}
	dl dd:last-of-type {padding-top:20px; border-bottom:0;}
	dl dd button {margin-top:0; width:168px; height:116px; border-radius:0; background-image:url("../images/sign-button.png"); background-position:center; background-repeat:no-repeat; background-color:transparent;}
	dl dd button:hover {background-color:transparent; box-shadow:0 0 0;}
	dl dd button::after {position:absolute; left:50px; top:23px; width:70px; height:70px; line-height:70px; font-weight:800; color:#5B627A; border-radius:65px; background-color:#FFCF63; content:'로그인';}
	dl dd button:hover::after {font-weight:600; color:#FFF; background-color:#5C74B5;}
	.group-form.form {margin-top:20px;}
}

@media (max-width:578px) {
	body {background-image:url('');}
}